body {
  background-color: #F1F1F1;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
  height: 100%;
  width: 100%;
}
.bookContent {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: left;
  gap:20px;
  flex-wrap: wrap;
}
.favoriteContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cartContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  width: 100vw;
  height: 70vh; 
  justify-content: center;
  align-items: center;
}