.navContainer {
  width: 100vw;  
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 1;
  top:0;
  background-color: rgb(234, 255, 254);
  margin-bottom: 30px;
}
.linkContainer {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
