.navContainer {
  width: 100vw;  
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 2;
  margin-bottom: 30px;
  background-color: #F1F1F1;
}
.linkContainer {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
